@charset "UTF-8";

body, html {
	height: 100%;
}

.bg {
	/* The image used */
	background-image: url("../../resources/img/img.jpg");
	/* Half height */
	height: 50%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sidenav {
	height: 100%;
	border-radius: 5px;
	background-color: #000000;
}

.sidenav a {
	text-decoration: none;
	font-size: 15px;
	color: #F5F5F5;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #000000;
}

@media ( max-width : 767.98px) {
	body {
		font-size: 12px;
	}
}

@media ( min-width : 768px) and (max-width: 1199.98px) {
	body {
		font-size: 14px;
	}
}

@media ( min-width : 1200px) {
	body {
		font-size: 16px;
	}
}

#gotop {
	position: fixed;
	z-index: 90;
	right: 30px;
	bottom: 31px;
	display: none;
	width: 50px;
	height: 50px;
	color: #fff;
	background: #33b5e5;
	line-height: 50px;
	border-radius: 50%;
	transition: all 0.5s;
	text-align: center;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
}

#gotop :hover {
	background: #0099CC;
}