<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    a {text-decoration: none}
  </style>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="50%">&nbsp;</td><td align="center">

<a name="JR_PAGE_ANCHOR_0_1"></a>
<table style="width: 595px; border-collapse: collapse" cellpadding="0" cellspacing="0" border="0" bgcolor="white">
<tr>
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 1px;"/></td>
  <td><img alt="" src="report1.html_files/px" style="width: 100px; height: 1px;"/></td>
  <td><img alt="" src="report1.html_files/px" style="width: 69px; height: 1px;"/></td>
  <td><img alt="" src="report1.html_files/px" style="width: 31px; height: 1px;"/></td>
  <td><img alt="" src="report1.html_files/px" style="width: 133px; height: 1px;"/></td>
  <td><img alt="" src="report1.html_files/px" style="width: 61px; height: 1px;"/></td>
  <td><img alt="" src="report1.html_files/px" style="width: 61px; height: 1px;"/></td>
  <td><img alt="" src="report1.html_files/px" style="width: 51px; height: 1px;"/></td>
  <td><img alt="" src="report1.html_files/px" style="width: 49px; height: 1px;"/></td>
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 1px;"/></td>
</tr>
<tr valign="top">
  <td colspan="10"><img alt="" src="report1.html_files/px" style="width: 595px; height: 20px;"/></td>
</tr>
<tr valign="top">
  <td colspan="3"><img alt="" src="report1.html_files/px" style="width: 189px; height: 16px;"/></td>
  <td colspan="2" rowspan="2" style="text-align: center;"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px; font-weight: bold;">員工資料</span></p></td>
  <td colspan="3"><img alt="" src="report1.html_files/px" style="width: 173px; height: 16px;"/></td>
  <td style="text-align: right;"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">1</span></p></td>
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 16px;"/></td>
</tr>
<tr valign="top">
  <td colspan="3"><img alt="" src="report1.html_files/px" style="width: 189px; height: 14px;"/></td>
  <td colspan="5"><img alt="" src="report1.html_files/px" style="width: 242px; height: 14px;"/></td>
</tr>
<tr valign="top">
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 20px;"/></td>
  <td colspan="2"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">文件案號:Z1231239</span></p></td>
  <td colspan="2" style="text-align: center;"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">碩網資訊股份有限公司</span></p></td>
  <td><img alt="" src="report1.html_files/px" style="width: 61px; height: 20px;"/></td>
  <td colspan="3" style="text-align: right;"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">列印時間: 2019年12月05日</span></p></td>
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 20px;"/></td>
</tr>
<tr valign="top">
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 1px;"/></td>
  <td colspan="8" style="border-top: 1px solid #000000; "><img alt="" src="report1.html_files/px" border="0"/></td>
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 1px;"/></td>
</tr>
<tr valign="top">
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 20px;"/></td>
  <td><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">編號</span></p></td>
  <td colspan="2"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">姓名</span></p></td>
  <td colspan="3"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">信箱</span></p></td>
  <td colspan="2"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">出生日期</span></p></td>
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 20px;"/></td>
</tr>
<tr valign="top">
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 20px;"/></td>
  <td><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">1</span></p></td>
  <td colspan="2"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">Johnny</span></p></td>
  <td colspan="3"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">ketton5255@yahoo.com.tw</span></p></td>
  <td colspan="2"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">1992/03/08</span></p></td>
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 20px;"/></td>
</tr>
<tr valign="top">
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 20px;"/></td>
  <td><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">2</span></p></td>
  <td colspan="2"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">Amy</span></p></td>
  <td colspan="3"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">Amy@yahoo.com.tw</span></p></td>
  <td colspan="2"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">1998/05/11</span></p></td>
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 20px;"/></td>
</tr>
<tr valign="top">
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 20px;"/></td>
  <td><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">3</span></p></td>
  <td colspan="2"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">Peter</span></p></td>
  <td colspan="3"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">Peter@yahoo.com.tw</span></p></td>
  <td colspan="2"><p style="overflow: hidden; line-height: 1.0; text-indent: 0px; "><span style="font-family: SansSerif; color: #000000; font-size: 10px;">2000/05/11</span></p></td>
  <td><img alt="" src="report1.html_files/px" style="width: 20px; height: 20px;"/></td>
</tr>
<tr valign="top">
  <td colspan="10"><img alt="" src="report1.html_files/px" style="width: 595px; height: 691px;"/></td>
</tr>
</table>

</td><td width="50%">&nbsp;</td></tr>
</table>
</body>
</html>
